/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


// --common
$color-main: #5598db;

body {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  color: #444;
  font-family: serif;
  a {
    color: inherit;
  }
}
.l-wrap {
}
.l-container {
  max-width: 800px;
  margin: 0 auto;
}
.l-header {
  font-size: 20px;
  background: -moz-linear-gradient(left, $color-main, #FFF);
  background: -webkit-linear-gradient(left, $color-main, #FFF);
  background: linear-gradient(to right, $color-main, #FFF);
  color: #fff;
  padding: 10px;
}
.l-content {
  padding: 50px 0;
  h1 {
    font-weight: bold;
    font-size: 38px;
    margin-bottom: 30px;
  }
}
.c-title {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  margin-top: 25px;
  margin-bottom: 10px;
  padding-left: 20px;
  &::before {
    content: "";
    width: 8px;
    height: 8px;
    border-top: 2px solid $color-main;
    border-left: 2px solid $color-main;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(135deg);
  }
}
.c-table {
  font-family: sans-serif;
  font-size: 16px;
  width: 100%;
  border-collapse: collapse;
  th,td {
    border: 1px solid #444;
    text-align: left;
    padding: 5px;
  }
  label {
    cursor: pointer;
  }
  th {
    background-color: #ccc;
    font-weight: bold;
  }
}
.c-submit {
  display: block;
  border: none;
  background-color: $color-main;
  color: #fff;
  font-size: 16px;
  padding: 5px 15px;
  margin-top: 10px;
  font-family: sans-serif;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: opacity .5s;
  &:hover {
    opacity: .6;
  }
}
.c-submit__disable {
  @extend .c-submit;
  background-color: #bbb;
}

// input-page-css
.p-input {
  p {
    margin-top: 50px;
  }
  form {
    margin-top: 80px;
    > input {
      display: block;
    }
    > .input {
      font-size: 20px;
      width: 300px;
      padding: 5px;
    }
  }
}

.p-user {
  position: relative;
  .caution {
    color: #dd3f37;
    font-weight: bold;
    font-size: 20px;
    animation: fadeIn .8s;
    @keyframes fadeIn {
      0% {
        opacity: 0;
        transform: translateY(-50px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  
  form {
    margin-top: 50px;
    width: 100%;
    > .input {
      margin-top: 10px;
      font-size: 16px;
      > input {
        display: inline-block;
        width: 300px;
        padding: 5px;
      }
    }
    > .c-submit {
      margin-top: 40px;
      margin-right: auto;
      margin-left: auto;
    }
  }
  .logout {
    position: absolute;
    top: 30px;
    right: 50px;
  }

}

.p-confirm {
  .confirm-area {
    margin-top: 60px;
    > p {
      text-align: center;
      font-weight: bold;
    }
    > .btns {
      margin-top: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      > a {
        text-decoration: none;
        margin-right: 20px;
      }
    } 
  }
}
